*
{
    margin:0;
    padding:0;
}
.square
{
    height: 5.5rem;
    width:5.5rem;

}
#board
{
    margin-left:auto;
    display: grid;
    grid-template-columns: repeat(8,5.5rem);
    grid-gap:0;
    max-width:80vw;;
}
.imgPiece
{
    height:5.5rem;
    width:5rem;
    display: flex;
    align-items: baseline;

}